@model Kladionica.Models.User

@{
    ViewData["Title"] = "AddorEdit";
}


<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
                <label asp-for="SportType" class="control-label"></label>
                <input asp-for="SportType" class="form-control" />
                <span asp-validation-for="SportType" class="text-danger"></span>
                <label asp-for="Participants" class="control-label"></label>
                <input asp-for="Participants" class="form-control" />
                <span asp-validation-for="Participants" class="text-danger"></span>
                <label asp-for="ResultType" class="control-label"></label>
                <input asp-for="ResultType" class="form-control" />
                <span asp-validation-for="ResultType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
