@model Kladionica.Models.Ticket

@{
    ViewData["Title"] = "Create";
}


<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedOutcome" class="control-label"></label>
                <input asp-for="SelectedOutcome" class="form-control" />
                <span asp-validation-for="SelectedOutcome" class="text-danger"></span>
                <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
                <label asp-for="Costs" class="control-label"></label>
                <input asp-for="Costs" class="form-control" />
                <span asp-validation-for="Costs" class="text-danger"></span>
                <label asp-for="Stake" class="control-label"></label>
                <input asp-for="Stake" class="form-control" />
                <span asp-validation-for="Stake" class="text-danger"></span>
                <label asp-for="TotalCoefficient" class="control-label"></label>
                <input asp-for="TotalCoefficient" class="form-control" />
                <span asp-validation-for="TotalCoefficient" class="text-danger"></span>
                <label asp-for="WinningTicket" class="control-label"></label>
                <input asp-for="WinningTicket" class="form-control" />
                <span asp-validation-for="WinningTicket" class="text-danger"></span>
                <label asp-for="Gain" class="control-label"></label>
                <input asp-for="Gain" class="form-control" />
                <span asp-validation-for="Gain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
