@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>How to bet online?</h2>
    <p>Using best app for online bet, Hettrick!
    </p>
</div>
